/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: lato;
    src: url(assets/font/secularone-regular.ttf) format("opentype");
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'lato', 'arial', sans-serif;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
